.u-section-1 .u-sheet-1 {
  min-height: 160px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 790px;
}

.u-section-2 .u-video-1 {
  filter: none;
  width: 1404px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    height: 790px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-2 .u-video-1 {
    height: 296px;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 180px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 76px;
  }
} .u-section-4 {
  filter: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 727px;
}

.u-section-4 .u-image-1 {
  filter: none;
  width: 1398px;
  height: 722px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 902px;
  min-height: 722px;
  height: auto;
  margin: -722px auto 5px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 110px 120px 110px 90px;
}

.u-section-4 .u-text-1 {
  margin: 1px 260px 0 0;
}

.u-section-4 .u-text-2 {
  width: 306px;
  margin: 6px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    width: 940px;
    height: 485px;
  }

  .u-section-4 .u-group-1 {
    min-height: 387px;
    margin-top: 20px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 371px;
  }

  .u-section-4 .u-group-1 {
    min-height: 245px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 278px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 175px;
  }

  .u-section-4 .u-group-1 {
    min-height: 128px;
    margin-top: 0;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1382px;
}

.u-section-5 .u-group-elements-1 {
  width: 2300px;
  min-height: 1383px;
  margin: 0;
}

.u-section-5 .u-image-1 {
  width: 910px;
  height: 500px;
  margin: 554px 0 0 auto;
}

.u-section-5 .u-image-2 {
  width: 910px;
  height: 554px;
  margin: -1054px 0 0 auto;
}

.u-section-5 .u-image-3 {
  width: 425px;
  height: 656px;
  margin: 173px 910px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 965px;
  height: 656px;
  margin: -656px auto 0 0;
}

.u-section-5 .u-image-5 {
  width: 1390px;
  height: 727px;
  margin: -1383px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2309px;
  }

  .u-section-5 .u-group-elements-1 {
    min-height: 2193px;
    height: auto;
    margin-top: 41px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    height: 425px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 425px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    height: 425px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    height: 425px;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-5 {
    height: 425px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1850px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 604px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 360px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 200px;
}