.u-section-1 .u-sheet-1 {
  min-height: 225px;
}

.u-section-1 .u-group-1 {
  width: 743px;
  min-height: 184px;
  height: auto;
  margin: 1px auto 40px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 43px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-group-1 {
    min-height: 199px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
  }
} .u-section-2 {
  background-image: url("../images/2026-3.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 995px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 312px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 247px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1316px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 2100px;
  margin: 5px auto;
}

.u-section-3 .u-image-1 {
  min-height: 746px;
  background-image: url("../images/2026_12.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 563px;
  background-image: url("../images/2026_3.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 563px;
  background-image: url("../images/2026_2.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 334px;
  }

  .u-section-3 .u-image-2 {
    min-height: 252px;
  }

  .u-section-3 .u-image-3 {
    min-height: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 256px;
  }

  .u-section-3 .u-image-2 {
    min-height: 193px;
  }

  .u-section-3 .u-image-3 {
    min-height: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 192px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 290px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 290px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 178px;
  }

  .u-section-3 .u-image-2 {
    min-height: 183px;
  }

  .u-section-3 .u-image-3 {
    min-height: 183px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1115px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 2100px;
  margin: 0 auto 15px;
}

.u-section-4 .u-image-1 {
  min-height: 552px;
  background-image: url("../images/2025SUM_4.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 552px;
  background-image: url("../images/2025SUM_3.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 552px;
  filter: none;
  background-image: url("../images/2025SUM_1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 552px;
  background-image: url("../images/2025SUM_2.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 247px;
  }

  .u-section-4 .u-image-2 {
    min-height: 247px;
  }

  .u-section-4 .u-image-3 {
    min-height: 247px;
  }

  .u-section-4 .u-image-4 {
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 189px;
  }

  .u-section-4 .u-image-2 {
    min-height: 189px;
  }

  .u-section-4 .u-image-3 {
    min-height: 189px;
  }

  .u-section-4 .u-image-4 {
    min-height: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 39px;
  }

  .u-section-4 .u-image-1 {
    min-height: 179px;
  }

  .u-section-4 .u-image-2 {
    min-height: 179px;
  }

  .u-section-4 .u-image-3 {
    min-height: 179px;
  }

  .u-section-4 .u-image-4 {
    min-height: 179px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1115px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 2100px;
  margin: 0 auto 15px;
}

.u-section-5 .u-image-1 {
  min-height: 552px;
  background-image: url("../images/2025S04_4.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 552px;
  background-image: url("../images/2025S001_1.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 552px;
  filter: none;
  background-image: url("../images/2025S04_3.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 552px;
  background-image: url("../images/2025S04.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 247px;
  }

  .u-section-5 .u-image-2 {
    min-height: 247px;
  }

  .u-section-5 .u-image-3 {
    min-height: 247px;
  }

  .u-section-5 .u-image-4 {
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 189px;
  }

  .u-section-5 .u-image-2 {
    min-height: 189px;
  }

  .u-section-5 .u-image-3 {
    min-height: 189px;
  }

  .u-section-5 .u-image-4 {
    min-height: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 284px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 284px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 284px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 284px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 9px;
  }

  .u-section-5 .u-image-1 {
    min-height: 179px;
  }

  .u-section-5 .u-image-2 {
    min-height: 179px;
  }

  .u-section-5 .u-image-3 {
    min-height: 179px;
  }

  .u-section-5 .u-image-4 {
    min-height: 179px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1174px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 2100px;
  margin: 49px auto 0;
}

.u-section-6 .u-image-1 {
  min-height: 630px;
  background-image: url("../images/2024-10-_1.png");
  background-position: 50% 8.57%;
  background-size: cover;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 630px;
  background-image: url("../images/2024-10-_7.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 499px;
  background-image: url("../images/2024-10-_6.png");
  background-position: 60.8% 50%;
  background-size: cover;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  min-height: 499px;
  background-image: url("../images/2024-10-_5.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  min-height: 499px;
  background-image: url("../images/2024-10-_2.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-image-1 {
    min-height: 282px;
  }

  .u-section-6 .u-image-2 {
    min-height: 282px;
  }

  .u-section-6 .u-image-3 {
    min-height: 223px;
  }

  .u-section-6 .u-image-4 {
    min-height: 223px;
  }

  .u-section-6 .u-image-5 {
    min-height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 216px;
  }

  .u-section-6 .u-image-2 {
    min-height: 216px;
  }

  .u-section-6 .u-image-3 {
    min-height: 171px;
  }

  .u-section-6 .u-image-4 {
    min-height: 171px;
  }

  .u-section-6 .u-image-5 {
    min-height: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1770px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 243px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 486px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 385px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 385px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    min-height: 385px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 153px;
  }

  .u-section-6 .u-image-2 {
    min-height: 209px;
  }

  .u-section-6 .u-image-3 {
    min-height: 242px;
  }

  .u-section-6 .u-image-4 {
    min-height: 242px;
  }

  .u-section-6 .u-image-5 {
    min-height: 242px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1126px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 2100px;
  margin: 52px auto 34px;
}

.u-section-7 .u-image-1 {
  min-height: 591px;
  background-image: url("../images/2024winter_5.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 453px;
  background-image: url("../images/2024-10-_3.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 453px;
  background-image: url("../images/2024winter_9.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  min-height: 464px;
  background-image: url("../images/2024winter_2.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  min-height: 580px;
  background-image: url("../images/2024winter_8.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-image-1 {
    min-height: 264px;
  }

  .u-section-7 .u-image-2 {
    min-height: 203px;
  }

  .u-section-7 .u-image-3 {
    min-height: 203px;
  }

  .u-section-7 .u-image-4 {
    min-height: 208px;
  }

  .u-section-7 .u-image-5 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    min-height: 404px;
  }

  .u-section-7 .u-image-2 {
    min-height: 311px;
  }

  .u-section-7 .u-image-3 {
    min-height: 311px;
  }

  .u-section-7 .u-image-4 {
    min-height: 319px;
  }

  .u-section-7 .u-image-5 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1853px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    min-height: 303px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 467px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 467px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    min-height: 239px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    min-height: 299px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 196px;
  }

  .u-section-7 .u-image-2 {
    min-height: 216px;
  }

  .u-section-7 .u-image-3 {
    min-height: 179px;
  }

  .u-section-7 .u-image-4 {
    min-height: 216px;
  }

  .u-section-7 .u-image-5 {
    min-height: 226px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100px;
  }
}