.u-section-1 .u-sheet-1 {
  min-height: 185px;
}

.u-section-1 .u-group-1 {
  width: 566px;
  min-height: 184px;
  height: auto;
  margin: 1px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 43px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/021fei2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 993px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 925px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 66px;
  margin-bottom: 8px;
}

.u-section-3 .u-image-1 {
  min-height: 851px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/021fei3.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 851px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-3 .u-image-1 {
    min-height: 348px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-3 .u-image-1 {
    min-height: 267px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-3 .u-image-1 {
    min-height: 293px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 28px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 890px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 29px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 851px;
  filter: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  min-height: 851px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/021fei3-1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 348px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-4 .u-image-1 {
    min-height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 632px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 39px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 24px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 220px;
  }
} .u-section-5 {
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/021fei4.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1227px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 253px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 906px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 870px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  min-height: 870px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/021fei5.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-6 .u-image-1 {
    min-height: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-6 .u-image-1 {
    min-height: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 614px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 307px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 46px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 239px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 814px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-7 .u-image-1 {
  min-height: 804px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/021fei1.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 804px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-7 .u-image-1 {
    min-height: 329px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 329px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-7 .u-image-1 {
    min-height: 252px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-7 .u-image-1 {
    min-height: 378px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 19px;
  }

  .u-section-7 .u-image-1 {
    min-height: 230px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 9px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100px;
  }
}