.u-section-1 .u-sheet-1 {
  min-height: 186px;
}

.u-section-1 .u-group-1 {
  width: 831px;
  min-height: 184px;
  height: auto;
  margin: 1px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 43px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1509px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1800px;
  margin: 151px auto 60px;
}

.u-section-2 .u-image-1 {
  min-height: 835px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/live02_2.jpg");
  background-position: 70.07% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 338px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 1173px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/live02_3.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 177px;
  }

  .u-section-2 .u-image-2 {
    min-height: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 136px;
  }

  .u-section-2 .u-image-2 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1524px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 396px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 961px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 249px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 101px;
  }

  .u-section-2 .u-image-2 {
    min-height: 779px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-layout-wrap-1 {
  width: 2242px;
  margin: 61px auto 60px;
}

.u-section-3 .u-image-1 {
  min-height: 747px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/live01_2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 335px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 96px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 1178px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/live01_3.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 1178px;
  filter: none;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/live01_1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 313px;
    filter: none;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 141px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 40px;
  }

  .u-section-3 .u-image-2 {
    min-height: 494px;
  }

  .u-section-3 .u-image-3 {
    background-position: 70.07% 50%;
    background-size: cover;
    min-height: 494px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1664px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 108px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 31px;
  }

  .u-section-3 .u-image-2 {
    min-height: 1009px;
  }

  .u-section-3 .u-image-3 {
    min-height: 1081px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1893px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1175px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 58px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 1135px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 811px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 269px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 8px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 37px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 748px;
  }

  .u-section-3 .u-image-3 {
    min-height: 756px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1312px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1923px;
  margin: 155px auto 20px;
}

.u-section-4 .u-image-1 {
  min-height: 835px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/live03_4.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 338px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 1173px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/live03_3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 408px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-4 .u-image-2 {
    min-height: 574px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 313px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-4 .u-image-2 {
    min-height: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1524px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 396px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 961px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 180px;
  }

  .u-section-4 .u-image-1 {
    min-height: 264px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 12px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 605px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-5 .u-image-1 {
  width: 1913px;
  min-height: 1080px;
  height: auto;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/live04_1.jpg");
  margin: 28px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-5 .u-image-1 {
    min-height: 220px;
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }
}