.u-section-1 .u-sheet-1 {
  min-height: 186px;
}

.u-section-1 .u-group-1 {
  width: 831px;
  min-height: 184px;
  height: auto;
  margin: 1px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 43px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 898px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 32px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 806px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 117px;
  height: 15px;
  margin: 61px auto 0 50px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 50px 112px 0 50px;
}

.u-section-2 .u-image-1 {
  min-height: 806px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/moving/fix100-2.avif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 33px;
    margin-right: 32px;
    margin-left: 19px;
  }

  .u-section-2 .u-image-1 {
    min-height: 617px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 27px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 265px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 378px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-2 .u-shape-1 {
    width: 165px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.11111rem;
    margin-top: 13px;
    margin-right: 23px;
    margin-left: 13px;
  }

  .u-section-2 .u-image-1 {
    min-height: 238px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 956px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 2180px;
  margin: 125px auto 60px;
}

.u-section-3 .u-image-1 {
  min-height: 722px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/moving/fix100_5.avif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 722px;
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/moving/fix100-3.avif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 311px;
  }

  .u-section-3 .u-image-2 {
    min-height: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 40px;
  }

  .u-section-3 .u-image-1 {
    min-height: 238px;
  }

  .u-section-3 .u-image-2 {
    min-height: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 357px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 357px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-image-1 {
    min-height: 225px;
  }

  .u-section-3 .u-image-2 {
    min-height: 225px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 200px;
}