.u-section-1 .u-sheet-1 {
  min-height: 200px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 100px auto 47px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.34375rem;
  }
} .u-section-2 {
  filter: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 773px;
}

.u-section-2 .u-list-1 {
  width: 2131px;
  margin: 41px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 23.5px);
  grid-template-columns: repeat(2, calc(50% - 23.5px));
  --gap: 47px;
  min-height: 586px;
}

.u-section-2 .u-image-1 {
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/moving/fix_8.avif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-group-1 {
  width: 337px;
  height: auto;
  min-height: 51px;
  filter: none;
  margin: 516px auto 0 120px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  filter: none;
  margin: 0 4px;
}

.u-section-2 .u-image-2 {
  background-image: url("https://rickimage-1322405451.cos.ap-guangzhou.myqcloud.com/images/moving/fix100-3.avif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-group-2 {
  width: 337px;
  height: auto;
  min-height: 51px;
  filter: none;
  margin: 516px auto 0 120px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  filter: none;
  margin: 0 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    min-height: 586px;
    margin-bottom: 41px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 258px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 17px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 68px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    margin-right: 17px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 68px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    min-height: 984px;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
    margin-top: 441px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 51px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
    margin-top: 441px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 51px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 173px;
}

.u-section-3 .u-group-1 {
  width: 497px;
  min-height: 173px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 70px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 407px;
}

.u-section-4 .u-gallery-1 {
  height: 712px;
  width: 2278px;
  margin: 28px auto -332px 0;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 19px;
  grid-template-columns: repeat(3, auto);
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-gallery-1 {
    height: 294px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-4 .u-gallery-1 {
    height: 676px;
    width: 720px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1634px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1521px;
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-4 .u-gallery-1 {
    height: 958px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 357px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 25px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 95px;
  }
}